<div class="main-container">
  <div class="form-main-container">
    <form [formGroup]="employeeForm">
      <input type="text" formControlName="id" hidden />
      <label for="name"> Nombre: </label>
      <input type="text" formControlName="name" id="name" />
      <label for="last-names"> Apellidos: </label>
      <input type="text" formControlName="lastNames" id="last-names" />
      <label for="email"> Email: </label>
      <input type="text" formControlName="email" id="email" />
      <button *ngIf="!selector" (click)="addEmployee()">Añadir</button>
      <button *ngIf="selector" (click)="updateEmployee()">Actualizar</button>
      <button *ngIf="selector" (click)="cancelUpdate()">Cancelar</button>
    </form>
  </div>

  <div class="show-data-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.lastNames }}</td>
          <td>{{ employee.email }}</td>
          <button (click)="deleteEmployee(employee)">delete</button>
          <button (click)="putEmployeerInForm(employee)">update</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
