<div class="main-container">
  <div class="show-data-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Salario</th>
          <th>Tlf</th>
          <th>Direccion</th>
          <th>Puesto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let index">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.lastNames }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.direction }}</td>
          <td>{{ employee.booth }}</td>
          <button (click)="deleteEmployee(employee.id)">delete</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
